#profileButton {
    position: relative;
    margin-left: 19px;
}

.profile-head {
    position: absolute;
    top: 0;
    left: -15px;
    height: 31px;
    width: 31px;
    svg {
        color: black;
    }
}