<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Display Name</th>
      <th scope="col">Email</th>
      <th scope="col">Last Login</th>
      <th scope="col">IP</th>
      <th scope="col">Session Start</th>
      <th scope="col">Heartbeat</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let s of sessions; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ s.user.displayName }}</td>
        <td>{{ s.user.primaryEmail }}</td>
        <td>{{ s.user.lastLogin | date: 'medium' }}</td>
        <td>{{ s.session.ip }}</td>
        <td>{{ s.session.createdDate | date: 'medium' }}</td>
        <td>{{ s.session.heartbeat | date: 'medium' }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>