<div class="container-fluid">
    <h1>Admin</h1>
  
    <div class="row mb-4">
      <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link"
              [class.active]="tab==='siteinfo'"
              [routerLink]="['/', 'admin', 'siteinfo']">Site Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              [class.active]="tab==='sessions'" 
              [routerLink]="['/', 'admin','sessions']">Sessions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              [class.active]="tab==='users'" 
              [routerLink]="['/', 'admin','users']">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              [class.active]="tab==='groups'" 
              [routerLink]="['/', 'admin','groups']">Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              [class.active]="tab==='auth'" 
              [routerLink]="['/', 'admin','auth']">Auth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              [class.active]="tab==='smtp'" 
              [routerLink]="['/', 'admin','smtp']">SMTP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              [class.active]="tab==='logs'" 
              [routerLink]="['/', 'admin','logs']">Logs</a>
          </li>
        </ul>
      </div>
    </div>
    <app-admin-site-info *ngIf="tab==='siteinfo'"></app-admin-site-info>
    <app-admin-session-management *ngIf="tab==='sessions'"></app-admin-session-management>
    <app-user-management *ngIf="tab==='users'"></app-user-management>
    <app-admin-group-management *ngIf="tab==='groups'"></app-admin-group-management>
    <app-admin-auth *ngIf="tab==='auth'"></app-admin-auth>
    <app-admin-smtp *ngIf="tab==='smtp'"></app-admin-smtp>
    <app-admin-log *ngIf="tab==='logs'"></app-admin-log>
  </div>