<button type="button" class="btn btn-primary mb-3" (click)="fetchInfo()">
  <fa-icon [icon]="iconRefresh"></fa-icon> Refresh
</button>
<h3 *ngIf="loading" class="mb-3">Loading...</h3>

<ngb-alert *ngIf="alertMessage" 
           class="mb-3"
           [type]="alertMessage.type"
           (close)="alertMessage = undefined">
  <strong>{{ alertMessage.title }}</strong>{{ alertMessage.body }}
</ngb-alert>

<ng-container *ngIf="info">

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Protocol
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.config.webServer.protocol }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Host
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.config.webServer.host }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Port
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.config.webServer.port }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        UI Proxy Port
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.config.webServer.uiProxyPort }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
       Data Dir
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.config.database.dataDir }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Initial Admin
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.config.setup.initialAdmin }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Initialization Date
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.initializedDate | date: 'medium' }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Number of CPUs
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.numCPUs }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Runtime Version
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.goVersion }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Allocated Memory
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.allocatedMemory | filesize }}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">
      <b>
        Data Dir Size
      </b>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      {{ info.dataDirSize | filesize }}
    </div>
  </div>

</ng-container>