<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Dan
        <span class="text-primary">Wolf</span>
      </h1>
      <div class="subheading mb-5">65 Monroe Center Street NW #300 · (616) 634-5114 ·
        <a href="mailto:dcwolf@gmail.com">dcwolf@gmail.com</a>
      </div>
      <p class="mb-5">A happy husband, roommate to a licky doggy, and an 
        engaged citizen of Grand Rapids, MI. Secondly, I am a .NET, Angular, Go, and 
        Python developer who's always super excited to write some code.</p>
    </div>
  </section>

</div>